.jumbotron{
    background-color: #fdf8e1 !important;
    border: 2px solid #f2cb3b;
    h2{
        color : #c41200;
        font-weight: bold;
    }
}

.navbar{
        background-color: #b80b03;
.navbar-brand{
    color:black;
    font-size:30px;
    font-weight: bold;
    font-family: 'hobo Std';
}
    .navbar-nav > li > a{
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
    }
}

.container-fluid{
    padding: 30px 120px !important;
}